<footer class="footer">
  <div id="footerContent">
    <a href="http://www.inc.com" target="_blank"><h4>Home</h4></a>
    <h4>|</h4>
    <a href="http://www.inc.com/customercare" target="_blank"><h4>Subscriber Care</h4></a>
    <h4>|</h4>
    <a href="http://www.mansueto.com//privacy.html" target="_blank"><h4>Privacy Policy</h4></a>
  </div>
</footer>
