<footer class="footer">
  <div id="footerContent">
    <a href="http://www.inc.com" target="_blank"><h4>Home</h4></a>
    <a href="http://www.inc.com/customercare" target="_blank"><h4>Subscriber Care</h4></a>
    <a href="#" target="_blank"><h4>Popular Articles</h4></a>
    <a href="#" target="_blank"><h4>Recent Articles</h4></a>
    <a href="#" target="_blank"><h4>FAQ</h4></a>
    <a href="http://www.mansueto.com//privacy.html" target="_blank"><h4>Privacy Policy</h4></a>
    <h4 class="copyright"> COPYRIGHT 2020 MANSUETO VENTURES </h4>
  </div>
</footer>
